build/
build/**
bin/
bin/**
compile_commands.json
pak/
pk2/
temp/
textures/
utils/rpak
utils/otex
misc/
*.osce
*.omod
**.so
**.so.**
**.o
**.a
**.glb
**.obj
**.mtl
**.rpak
**.exr
**.bak
**.spv
**.gltf
**.bin
**.cap
omicron_symbols.ld
.vscode/
**.plist
**.plist.source
**.cpp_clang-tidy**
**.c_clang-tidy**
libs/libsbuilt
